* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.row {
  margin: 0;
}

.overlay {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  nav {
    background-color: transparent !important;
    border-bottom: transparent !important;

    & > * {
      background: transparent;
      opacity: 0.5;
    }
  }

  .container-fluid {
    background: transparent;
    opacity: 0.5;
  }
}

#sidebar {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  display: flex;
  flex-direction: column;
  .list-group {
    width: 15rem;

    .list-group-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    ion-icon {
      margin: 0 5px 0 0;
    }

    .badge {
      margin: 0 5px;
    }
  }

  .margin-bottom {
    display: flex;
    margin-bottom: 5px;
  }
}

.sidebar-opened {
  margin-left: 0 !important;
}

.bg-custom {
  color: #fff;
}

#content-wrapper {
  min-width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  p {
    margin-top: 5px;
  }
}

.navbar {
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;

    .profile-picture {
      width: 100%;
      max-width: 60px;
      height: 60px;
      display: flex;
      margin: auto;
      border: 3px solid #fff;
      background-color: #fff;
      background-clip: padding-box;
      overflow: hidden;
      border-radius: 100%;
      img {
        display: flex;
        min-width: 100%;
        min-height: 100%;
        padding: 2%;
        border-radius: 100%;
      }
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 5px;

      .profile-name,
      .profile-info {
        display: inline-flex;
        justify-items: flex-start;
        align-items: center;
      }

      .profile-name {
        p {
          margin: 2px 10px 2px 1px;
          font-weight: bold;
          font-size: 1rem;
        }

        .badge {
          align-self: center;
          display: flex;
          font-size: 0.35rem;
        }
      }

      .profile-info {
        p {
          margin: 0;
          font-size: 0.75rem;
        }
      }

      .separator {
        display: flex;
        margin: 0px 5px;
        color: #ccc;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .bookmark,
    .edit {
      width: 30px;
      height: 30px;
      margin: 5px;
    }

    .bookmark {
      background: url("../img/bookmark-saved.svg") no-repeat;
      background-size: 70%;
      background-position: center;
    }

    .edit {
      background: url("../img/edit-gray.svg") no-repeat;
      background-size: 70%;
      background-position: center;
    }

    #menu {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-right: auto;
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .sidebar-opened {
    margin-left: -15rem;
  }

  .navbar {
    .profile {
      .profile-picture {
        max-width: 100px;
        height: 100px;
      }
      .profile-details {
        .profile-name {
          p {
            font-size: 1.6rem;
          }
          .badge {
            font-size: 0.75rem;
          }
        }

        .profile-info {
          p {
            font-size: 1rem;
          }
          .separator {
            margin: 0px 15px;
          }
        }
      }
    }
    .options {
      justify-content: center;

      #menu {
        display: none;
      }
    }
  }
}
